.content {
  display: flex;
  gap: 50px;
  padding-top: 75px;
  padding-left: 300px;
  margin: 0 20px;
  .feed__inner {
    flex: 3;
  }
  .rightbar {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
  }
}

@media (max-width: 991px) {
  .content {
    padding-left: 0;
    background-color: #f9fafb;
    z-index: 10;
  }
}

@media (max-width: 991px) {
  .rightbar {
    display: none;
  }
}
