header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
  .mobile{
    display: none;
  }
  .logo {
    margin: 8px 0;
    cursor: pointer;
  }
  .search{
    position: relative;
    .header__search {
      position: relative;
      border-radius: 6px;
      margin-left: -10px;
      .header__search-icon {
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 16px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #737373;
      }
      input {
        height: 44px;
        color: #393939;
        padding: 0 30px 0 40px;
        outline: 0;
        background: #f0f2f5;
        border: 1px solid transparent;
        border-radius: 2rem;
        min-width: 550px;
        font-size: 15px;
      }
    }
    .search-results{
      position: absolute;
      background-color: white;
      top: 50px;
      width: 100%;
    }
  }

  .header__widgets {
    display: flex;
    align-items: center;
    gap: 15px;
    .icon {
      width: 38px;
      height: 38px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eef1f5;
      cursor: pointer;
      position: relative;
      img {
        width: 38px;
        height: 38px;
        border-radius: 100%;
      }
    }
  }
}


.notification__item {
  .drop_avatar {
    position: relative;
  }
  .drop_icon {
    position: absolute;
    left: 40px;
    bottom: 8px;
    padding: 0;
    font-size: 16px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    background: linear-gradient(80deg, #78a6fc, #3576ef 100%) !important;
    color: white;
    border-radius: 100%;
  }
  .drop_text {
    flex: 1;
    line-height: 23px;
    font-size: 13.5px;
    p {
      font-size: 13.5px;
      line-height: 24px;
      overflow: hidden;
    }
    time {
      font-size: 12.7px;
      color: #9f9d9d;
      margin-top: -3px;
      display: block;
    }
  }
}

.header__messages-input{
  input{
    width: 100%;
    background: #f3f4f6;
    border-radius: 20px;
    margin: 0 6px 6px 0;
    height: 38px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    padding: 0 20px;
    outline: none;
  }
}

.account__drop{
  .account_heading{
    display: flex;
    align-items: center;
    gap: 20px;
    img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
    h4{
      color: #3d3d3d;
      font-size: 20px;
      font-weight: 600;
    }
  }
}


@media (max-width: 991px) {
  header {
    justify-content: space-between;
    padding: 5px 0;
    .mobile{
      display: block;
    }

    .logo{
      display: none;
    }
    .header__search {
      padding-right: 50px;
    }
    .header__widgets {
      position: fixed;
      width: 100vw;
      justify-content: space-between;
      bottom: 0;
      height: 56px;
      padding: 0 50px;
      background: white;
      border-top: 1px solid #e2dfdf;
    }
    .mobile{
      padding-left: 50px;
    }
  }
}

@media (max-width: 768px) {
  header {
    .mobile{
      padding-left: 20px;
    }
    .search{
      .header__search {
        input {
          min-width: unset;
        }
      }
      .search-results{
        position: absolute;
        background-color: white;
        top: 50px;
        width: 100%;
        left: -30px;
      }
    }
    .login__action{
      display: none;
    }
  }
}